# Default owners for everything

* @kinde-starter-kits/giants-kinde

# Dependency-related files for this repo

/composer.json @kinde-starter-kits/sdk-engineers
**/composer.json @kinde-starter-kits/sdk-engineers
/composer.lock @kinde-starter-kits/sdk-engineers
**/composer.lock @kinde-starter-kits/sdk-engineers
/package.json @kinde-starter-kits/sdk-engineers
**/package.json @kinde-starter-kits/sdk-engineers
/package-lock.json @kinde-starter-kits/sdk-engineers
**/package-lock.json @kinde-starter-kits/sdk-engineers